<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.demo.infra.mapper.MenuMapper">

    <select id="page" resultType="com.hand.demo.domain.vo.MenuComboVo">
        SELECT
        m.id as menuId,
        m.menu_name as menuName,
        m.menu_code as menuCode,
        m.menu_owner as menuOwner,
        c.id,
        c.combo_name as comboName,
        c.combo_code as comboCode,
        c.combo_owner as comboOwner,
        c.combo_type as comboType,
        c.sales_area as salesArea,
        c.combo_start_date as startDate,
        c.combo_end_date as endDate
        FROM menu m
        LEFT JOIN combo c ON m.id = c.menu_id
        <where>
            AND m.tenant_id = #{tenantId}
            <if test="menuComboDto.menuName != null and menuComboDto.menuName != ''">
                AND m.menu_name LIKE CONCAT('%', #{menuComboDto.menuName}, '%')
            </if>
            <if test="menuComboDto.menuOwner != null and menuComboDto.menuOwner != ''">
                AND m.menu_owner LIKE CONCAT('%', #{menuComboDto.menuOwner}, '%')
            </if>
            <if test="menuComboDto.comboName != null and menuComboDto.comboName != ''">
                AND c.combo_name LIKE CONCAT('%', #{menuComboDto.comboName}, '%')
            </if>
            <if test="menuComboDto.comboOwner != null and menuComboDto.comboOwner != ''">
                AND c.combo_owner LIKE CONCAT('%', #{menuComboDto.comboOwner}, '%')
            </if>
            <if test="menuComboDto.comboType != null and menuComboDto.comboType != ''">
                AND c.combo_type = #{menuComboDto.comboType}
            </if>
            <if test="menuComboDto.salesArea != null and menuComboDto.salesArea != ''">
                AND c.sales_area = #{menuComboDto.salesArea}
            </if>
            <if test="menuComboDto.startDate != null">
                AND c.combo_start_date >= #{menuComboDto.startDate}
            </if>
            <if test="menuComboDto.endDate != null">
                AND c.combo_end_date &lt;= #{menuComboDto.endDate}
            </if>
        </where>
        ORDER BY m.id DESC
    </select>
</mapper>